@model PetsDate.Web.ViewModels.Publication.PublicationListAllViewModel

@{
    this.ViewData["Title"] = "Hotel Info Page";
}

<div class="text-center h1">
    <h1>@this.ViewData["Title"]</h1>
</div>

<div class="container">

    <h5 class="info-title">Post By: @Model.UserName</h5>
    <p class="info-text">Description: @Model.Description</p>

    <a class="btn btn-primary mb-2" asp-area="" asp-controller="Publication" asp-action="All">Return</a>

    <a class="btn btn-dark mb-2" asp-controller="Publication" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>

